/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Code */
body{
    font-family: 'Roboto', sans-serif;
}

/* Landing Page */
.landing{
    background-color: #1F2937;
    padding: 10px;
    padding-bottom: 70px;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.menu{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 15px;
}

/* Main */

main{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}


.heroimg{

    max-height: 250px;
}

.hero{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: space-between;
    max-height: 250px;
}

.maintext{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondarytext{
    font-size: 18px;
    color: #E5E7EB;
}

.ctabutton{
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    color: #F9FAF8;
    width: 100px;
    padding: 7px;
}

/* Information */
.information{
    background-color: #E5E7EB;
    padding: 30px;
}

.infoheader{
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 30px;
}

.cards{
    display: flex;
    width: 800px;
    height: 800px;
}
